@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<p>
    <h6>Whoops! you've encountered something still under construction. Come back later to see what progress has been made!</h6>
    <img src="~/img/construct_2.png" height="400" width="800"/>
</p>
